.git
.github
.DS_Store

node_modules
app/node_modules
server/node_modules

app/dist
server/dist
server/.env
server/prisma/dev.db

coverage
playwright-report
test-results

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
